<div>
  <h3>{{ editIndex !== null ? 'Editar Prenda' : 'Agregar Nueva Prenda' }}</h3>
  <form (ngSubmit)="agregarPrenda()">
    <label>
      Prenda:
      <input type="text" [(ngModel)]="nuevaPrenda.prenda" name="prenda" required />
    </label>
    <label>
      Color:
      <input type="text" [(ngModel)]="nuevaPrenda.color" name="color" required />
    </label>
    <label>
      Cantidad:
      <input type="number" [(ngModel)]="nuevaPrenda.cantidad" name="cantidad" required />
    </label>
    <button (click)="editIndex !== null ? actualizarPrenda() : agregarPrenda()">
      {{ editIndex !== null ? 'Actualizar' : 'Agregar' }}
    </button>
    
  </form>
  
  <h2>Inventario de Prendas</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Prenda</th>
        <th>Color</th>
        <th>Cantidad</th>
        <th>Acciones</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prenda of prendas; let i = index">
        <td>{{ prenda.prenda }}</td>
        <td>{{ prenda.color }}</td>
        <td>{{ prenda.cantidad }}</td>
        <td>
          <div class="table-buttons">
          <button class="edit-button" (click)="editarPrenda(i)">Editar</button>
          <button class="delete-button"(click)="eliminarPrenda(i)">Eliminar</button>
        </div>
        </td>
      </tr>
    </tbody>
  </table>


</div>
