<header class="navbar">
    <div class="logo-brand">
        <img src="assets/logo.png" alt="Imagen Destacada" style="width: 25%; max-height: 400px; object-fit: cover;">
        <span class="brand">MasconFit</span>
    </div>
    <nav>
        <ul>
        </ul>
    </nav>
</header>
<app-tabla-pedidos></app-tabla-pedidos>
<app-tabla-inventario></app-tabla-inventario>
<app-tabla-calzado></app-tabla-calzado>
<p></p>
<footer>
    <p>&copy; 2024 MasconFit. Todos los derechos reservados.</p>
    <p>Para mas información contactenos a nuestro numero 2444-5050</p>
</footer>